
.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
}


/* CSS media query dentro de um stylesheet */
@media (min-width: 380px) {
  .pokemons {
   display: grid;   
   grid-template-columns: 1fr 1fr;
    
  }
}
@media (min-width: 672px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;

    
  }
}
@media (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;    
  }
}


